body {
	margin: 0px;
	overflow: hidden;
}

.overlay {
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: #00000066;
	position: fixed;
	display: none;
}

.all {
	background-color: #0b0024;
	display: flex;
	justify-content: center;
	user-select: none;
}


.container {
	max-width: 600px;
	width: 100%;
	box-shadow: -5px 0 90px rgb(47 77 128 / 50%), 5px 0 90px rgba(0, 0, 0, 0.5);
}

.header {
	position: absolute;
}

.navigation {
	margin: 15px;
	display: flex;
}

.nav-item {
	margin-right: 25px;
}

.nav-shop {
	height: 50px;
}

.shop-modal {
	max-width: 500px;
	width: 75%;
	background-color: #31315c;
	color: #fff;
	padding: 15px;
	border-radius: 10px;
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 20;
}

.shop-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    border: 1px solid #fff;
    font-size: 	18px;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 10px;
}

.shop-modal-text {
	display: flex;
	align-items: center;
}

.shop-money-image {
	height: 19px;
}

.buy-btn {
	background-color: #675a8b;
    padding: 10px 20px;
    border-radius: 5px;

}

.buy-btn:hover {
	background-color: #4f4470;
	transition-duration: 0.2s;
}

.close-shop	{
	margin-bottom: 10px;
	align-self: end;
}

.nav-settings{
	height: 50px;
}

.body-container {
	align-items: center;
	justify-content: center;
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.line-score {
	width: 190px;
	display: flex;
	color: #fff;
	flex-direction: column;
	height: 30px;
    text-align: center;
}

.level {
	max-width: 190px;
	max-height: 7px;
	background-color: #fff;
	border-radius: 50px;
	border: 1px solid blue;
	width: 100%;
	height: 100%;
}

.score {
	max-width: 190px;
	max-height: 7px;
	width: 0;
	height: 100%;
	background-color: #4239b3;
}

.hamster-img {
	height: 190px;
	animation: hamster 0.5s;
	border-radius: 50%;
	border: 6px solid #e57105;
}

@keyframes hamster {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.hamster-img:active {
    animation: none;
}

.money {
	color: #fff;
	font-size: 36px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}


.money-img {
	height: 28px;
}