@use '../helpers/' as *;

.hero {
    display: flex;
    align-items: center;
    background-image: url('../img/hero/background-img.png'); 
    background-size: cover;
    background-repeat: no-repeat;   
    width: 100%;
    height: calc(100vh - var(--header-height));
    justify-content: center;

    @include tablet {
        align-items: normal;
    }
}

.hero-container {
    display: flex;
    justify-content: space-evenly;

    &__name {
        width: 60%;
        margin-top: rem(100);
        font-family: var(--font-family-origin);
        font-weight: 400;
        font-style: normal;

        @include laptop {
            width: 75%;
        }

        @include mobile {
            width: 80%;
        }

        @include mobile-s {
            width: 95%;
            margin-top: rem(30);
        }

        span {
            font-family: var(--font-family-cursive);
            background-image: url('../img/hero/text-back.jpeg');
            padding: 0 rem(20) 0 rem(10);
            color: var(--color-light);
            height: 110px;
            display: inline-flex;
            align-items: center;

            @include fluid-text(124, 58);

            @include tablet {
                height: auto;
            }
        }

        .h1 {
            font-family: var(--font-family-hs);
            font-weight: 400;
            font-style: normal;
            color: var(--color-dark-20);
        }

        .h4 {
            font-family: "PT Sans", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
    }



    &__image {
        
        @include tablet {
            display: none;
        }
    }
}