@use '../helpers/' as *;

.logo {
    font-size: 50px;
    font-family: var(--font-family-origin);
    color: var(--color-dark-20);
    cursor: pointer;

    @include mobile-s {
        font-size: 35px;
    }
}