@use '../helpers/' as *;

.wave {
    width: 100%;
    height: 100%;

    &__1 {
        width: 100%;
        height: 180px;
        background-image: url(../img/hero/wave1.png);
        background-size: rem(2000) rem(230);
        animation: wave1 10s linear infinite;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0.9;
    }

    @keyframes wave1 {
        0% {
            background-position-x: rem(0);
        }
        100% {
            background-position-x: rem(2000);
        }
    }

    &__2 {
        width: 100%;
        height: 180px;
        background-image: url(../img/hero/wave2.png);
        background-size: rem(2000) rem(300);
        animation: wave2 20s linear infinite;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0.8;
    }

    @keyframes wave2 {
        0% {
            background-position-x: rem(0);
        }
        100% {
            background-position-x: rem(2000);
        }
    }

    &__3 {
        width: 100%;
        height: 75px;
        background-image: url(../img/hero/wave3.png);
        background-size: rem(2000) rem(100);
        animation: wave3 25s linear infinite;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0.5;
    }

    @keyframes wave3 {
        0% {
            background-position-x: rem(0);
        }
        100% {
            background-position-x: rem(2000);
        }
    }
}