@charset "UTF-8";
/*
Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

button {
  background-color: none;
  padding: 0;
  border: none;
  border-radius: 0;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-light: #ffffff;
  --color-dark: #141414;
  --color-dark-10: #1A1A1A;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;
  --color-gray-50: #7E7E81;
  --color-gray-60: #98989A;
  --color-transperty: #60606067;
  --color-accent: #2940ff;
  --border: 0.0625rem solid var(--color-dark-15);
  --outline: 0.0625rem solid var(--color-accent);
  --box-shadow: 0rem 0.25rem 1.25rem #b2b2b2;
  --font-family-base: "PT Sans", sans-serif;
  --font-family-accent: "Play", sans-serif;
  --font-family-origin: "Oswald", sans-serif;
  --font-family-hs: "Jost", sans-serif;
  --font-family-cursive: "Great Vibes", cursive;
  --container-width: 87.5rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.5s;
  --header-height: 4.375rem;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 80rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.isLock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-dark);
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark);
  font-weight: 500;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-accent);
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600;
}

h1, .h1 {
  font-size: clamp(2.8125rem, 2.0159313725rem + 3.2679738562vw, 5.9375rem);
  line-height: 1;
}

h2, .h2 {
  font-size: clamp(1.75rem, 1.2720588235rem + 1.9607843137vw, 3.625rem);
  line-height: 1.3;
}

h3, .h3 {
  font-size: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
}

h4, .h4 {
  font-size: clamp(1.125rem, 0.9975490196rem + 0.522875817vw, 1.625rem);
}

h5, .h5 {
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
}

h6, .h6 {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
  font-family: var(--font-family-base);
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.header {
  height: var(--header-height);
  background-color: var(--color-light);
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.9375rem;
  padding-inline: 3.125rem;
  opacity: 0.9;
}
@media (width <= 65.68625rem) {
  .header {
    padding-inline: 2.1875rem;
  }
}
@media (width <= 47.99875rem) {
  .header {
    padding-inline: 1.25rem;
  }
}
.header__overlay {
  display: flex;
  align-items: center;
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-style: normal;
  color: var(--color-dark-20);
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    background-color: var(--color-light);
    left: 0;
    top: 0;
    width: 100vw;
    height: 70vh;
    transform: translateY(-650px);
    box-shadow: var(--box-shadow);
  }
  .header__overlay.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    transition: var(--transition-duration);
    visibility: hidden;
  }
}
.header__menu {
  margin-right: 2.1875rem;
}
.header__menu-list {
  display: flex;
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    gap: 1.5625rem;
  }
}
.header__menu-item:not(:last-child) {
  margin-right: 1.5625rem;
}
.header__menu-link {
  font-weight: 600;
  cursor: pointer;
}
.header__soc1als {
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (width <= 47.99875rem) {
  .header__soc1als {
    margin: 0;
  }
}
.header__burger-button {
  display: none;
}
@media (width <= 47.99875rem) {
  .header__burger-button {
    display: block;
  }
}
@media (width <= 47.99875rem) {
  .header {
    opacity: 1;
  }
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.start-button button {
  display: none;
  height: 9.375rem;
  width: 9.375rem;
  border-radius: 75px;
  border: 2px solid #ac0000;
  box-shadow: 0px 7px 5px #000000;
  background-color: #ff3838;
  color: var(--color-light);
  font-size: 2.0625rem;
  transform: rotateX(30deg);
  transition: transform 0.5s;
}
@keyframes button {
  0% {
    transform: scale(1) rotateX(30deg);
  }
  50% {
    transform: scale(0.85) rotateX(30deg);
  }
  100% {
    transform: scale(1) rotateX(30deg);
  }
}
.start-button :active {
  animation: button 0.5s forwards;
}

.hero {
  display: flex;
  align-items: center;
  background-image: url("../img/hero/background-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(85vh - var(--header-height));
  justify-content: center;
}
@media (width <= 65.68625rem) {
  .hero {
    align-items: normal;
  }
}

.hero-container {
  display: flex;
  justify-content: space-evenly;
}
.hero-container__name {
  width: 60%;
  margin-top: 6.25rem;
  font-family: var(--font-family-origin);
  font-weight: 400;
  font-style: normal;
}
@media (width <= 90.06125rem) {
  .hero-container__name {
    width: 75%;
  }
}
@media (width <= 47.99875rem) {
  .hero-container__name {
    width: 80%;
  }
}
@media (width <= 30.06125rem) {
  .hero-container__name {
    width: 95%;
    margin-top: 1.875rem;
  }
}
.hero-container__name span {
  font-family: var(--font-family-cursive);
  background-image: url("../img/hero/text-back.jpeg");
  padding: 0 1.25rem 0 0.625rem;
  color: var(--color-light);
  height: 110px;
  display: inline-flex;
  align-items: center;
  font-size: clamp(3.625rem, 2.5735294118rem + 4.3137254902vw, 7.75rem);
}
@media (width <= 65.68625rem) {
  .hero-container__name span {
    height: auto;
  }
}
.hero-container__name .h1 {
  font-family: var(--font-family-hs);
  font-weight: 400;
  font-style: normal;
  color: var(--color-dark-20);
}
.hero-container__name .h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media (width <= 65.68625rem) {
  .hero-container__image {
    display: none;
  }
}

.wave {
  width: 100%;
  height: 100%;
}
.wave__1 {
  width: 100%;
  height: 180px;
  background-image: url(../img/hero/wave1.png);
  background-size: 125rem 14.375rem;
  animation: wave1 10s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.9;
}
@keyframes wave1 {
  0% {
    background-position-x: 0rem;
  }
  100% {
    background-position-x: 125rem;
  }
}
.wave__2 {
  width: 100%;
  height: 180px;
  background-image: url(../img/hero/wave2.png);
  background-size: 125rem 18.75rem;
  animation: wave2 20s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.8;
}
@keyframes wave2 {
  0% {
    background-position-x: 0rem;
  }
  100% {
    background-position-x: 125rem;
  }
}
.wave__3 {
  width: 100%;
  height: 75px;
  background-image: url(../img/hero/wave3.png);
  background-size: 125rem 6.25rem;
  animation: wave3 25s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.5;
}
@keyframes wave3 {
  0% {
    background-position-x: 0rem;
  }
  100% {
    background-position-x: 125rem;
  }
}

.logo {
  font-size: 50px;
  font-family: var(--font-family-origin);
  color: var(--color-dark-20);
  cursor: pointer;
}
@media (width <= 30.06125rem) {
  .logo {
    font-size: 35px;
  }
}

.hero-border-bottom-1 {
  width: 100%;
  height: 50px;
  background-image: url(../img/hero/wave3.png);
  background-size: 125rem 4.375rem;
  animation: wave-bottom1 25s linear infinite;
  position: absolute;
  opacity: 0.5;
  transform: rotateX(180deg);
  bottom: -3.125rem;
}

@keyframes wave-bottom1 {
  0% {
    background-position-x: 0rem;
  }
  100% {
    background-position-x: 125rem;
  }
}
.hero-border-bottom-2 {
  width: 100%;
  height: 43px;
  background-image: url(../img/hero/wave2.png);
  background-size: 125rem 4.375rem;
  animation: wave-bottom2 20s linear infinite;
  position: absolute;
  opacity: 0.8;
  transform: rotateX(180deg);
  bottom: -2.6875rem;
}

@keyframes wave-bottom2 {
  0% {
    background-position-x: 0rem;
  }
  100% {
    background-position-x: 125rem;
  }
}
.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-dark);
  background-color: transparent;
  border: none;
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em 0.37em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  display: none;
}
.burger-button__line {
  background-color: currentColor;
  width: 100%;
  height: 0.125rem;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  width: 55%;
  align-self: end;
}

.button-applications {
  background-color: var(--color-accent);
  padding: 0.625rem 2.5rem;
  border-radius: 0.625rem;
  color: var(--color-light);
  cursor: pointer;
}
.button-applications:hover {
  background-color: var(--color-accent-hover);
  outline: var(--outline);
  color: var(--color-dark-10);
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-light);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  z-index: 20;
}
.form-container:not(.is-active) {
  display: none;
}
.form-container form {
  display: grid;
  gap: 0.9375rem;
  padding: 0 6.25rem 1.875rem 6.25rem;
}
.form-container form button {
  margin-top: 0.9375rem;
  background-color: var(--color-accent);
  padding: 0.625rem 2.5rem;
  border-radius: 0.625rem;
  color: var(--color-light);
  cursor: pointer;
}
.form-container form button:hover {
  background-color: var(--color-accent-hover);
  outline: var(--outline);
  color: var(--color-dark-10);
}
.form-container__close-button {
  align-self: flex-end;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.9375rem;
  padding: 0.3125rem;
  background-color: var(--color-light);
}

input {
  width: 100%;
  padding: 0.4375rem 0.625rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.overflow {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-transperty);
}
.overflow:not(.is-active) {
  display: none;
}/*# sourceMappingURL=main.css.map */